nav {
    background-color: #303030;
}
body {
    overflow-x: hidden;
}
#div-img {
    width: 52.7%;
}



ul, a {
    color: white;
    padding-left: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: bolder;
}
.line {
    line-height: 8px;
}
.fundo-btn-1 {
    background-color: #009e2a;
    border-radius: 5px;
}
.fundo-btn-1:hover {
    cursor: pointer;
    background-color: #015517;
    transition: all 0.2s;
    border: 1.5px solid #009e2a;
}
.mod-lb:hover {
    background-color: #5c5b5b;
    cursor: pointer;
}
.red {
    width: 32%;
} 
@media screen and (max-width:1054px)  {
    .red {
        display: none;
    }
    
}

.fundo-btn-2 {
    background-color: #ff0303;
    border-radius: 5px;
}
.fundo-btn-2:hover {
    cursor: pointer;
    background-color: #7c0202;
    transition: all 0.2s;
    border: 3px solid #ff0303;
}
@media screen and (max-width: 1134px ) {
    .fundo-btn-2 {
        width: 200px;
        height: 70px;
        padding: 0;
    }
    .red {
        width: 200px;
        height: 70px;
    }
    #icon-div1, #icon-div2 {
        display: none;
    }
    #div-text {
        width: 190px;
        height: 60px;
    }
    
}
input:focus {
    outline: none;   
}
/* Define uma imagem personalizada como o ícone de limpar do input */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: white;
  }
main {
    background-color: #303030;

}
.backdrop1 {
    background-position: center;
    background-image: url(/assents/img/2023_-_14_a_28_abr_-_Descobrimento_do_Brasil_-_1920x450.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    display: flex;
    background-clip: content-box;
    background-size: contain;
}
@media screen and (max-width: 1054px) {
    .backdrop1 {
        height: 400px;
    }
}

@media screen and (max-width: 350px) {
    .backdrop1 {
        width: 340px;
    }
}


@media  screen and (max-width: 1220px) {
    .p123 {
        display: none;
    }
    .p012 {
        line-height: 13px;
        position: relative;
        bottom: 8px;
    }
    .icon-1 {
        position: relative;
        top: 7px;
    }
}
@media  (min-width: 1054px) {
    #menu-one {
        display: none;
    }
    #heart {
        display: none;
    }
    #brit {
        display: none;
    }
    #cart {
        display: none;
    }
}
@media  screen and (max-width: 1054px) {
    .div-section {
        display: none;
    }
    .section {
        display: none;
    }
    #div-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1054px;
    }
    .div-res {
        display: flex;
        align-items: center;
        justify-content: end;
        width:  150px;
        height: 70px;
    }
}


